html {
    overflow: hidden;
}

body {
    background-color: #46c1bc;
}

.row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

hr {
    margin: 4vmin 0;
}

#location {
    border: 5px solid white;
    font-family: 'Rockwell';
    font-size: 8vmin;
    color: white;
    margin: 4vmin 0;
    width: 50%;
    text-align: center;
}

#temp {
    background-color: #f0564c;
    width: 60%;
    display: inline-block;
    float: left;
    padding: 1vmin 9vmin;
}

.main-icon {
    height: 100%;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.main-icon > img {
    width: 18vmin;
}

.main-temp {
    font-family: "Gill Sans MT";
    color: white;
    float: right;
    font-size: 12vmin;
    width: 50%;
    text-align: center;
}

#details {
    width: 30%;
    font-family: "Gill Sans MT";
    font-size: 3vmin;
    display: inline-block;
    color: white;
    margin-left: 10vmin;
    border-left: solid white;
    padding-left: 4vmin;
}

#week {
    background-color: #f0564c;
}


/*#eaebe6*/

#day {
    font-family: 'Rockwell';
    color: white;
    font-size: 4vmin;
    width: 20%;
    height: 100%;
    display: inline;
    float: left;
    text-align: center;
    border-right: thin solid white;
    margin: 4vmin 0;
}

hr {
    border: none;
    border-top: 10px dotted white;
    color: #fff;
    height: .5px;
    width: 100%;
}

#wrapper {
    min-height: 15vmin;
}

.weather-icon {
    width: 50%;
    padding: 2vmin 0;
}

.day-temp {
    font-family: "Gill Sans MT";
    font-size: 4vmin;
    color: white;
}

@media (min-width: 0px) and (max-width: 384px) and (min-height: 0px) and (max-height: 270px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        display: none;
    }
    #location {
        width: 70%;
        font-size: 10vmin;
        margin: 10vmin 0;
    }
    #temp {
        width: 100%;
    }
    .main-temp {
        font-size: 20vmin;
    }
    .main-icon > img {
        /*        padding-top: 4vmin;*/
        width: 30vmin;
    }
}

@media (min-width: 0px) and (max-width: 384px) and (min-height: 271px) and (max-height: 540px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 56%;
        font-size: 6vmin;
        margin-top: 10vmin;
        margin-left: 0;
    }
    #location {
        width: 70%;
        font-size: 10vmin;
        margin: 10vmin 0;
    }
    #temp {
        width: 100%;
    }
    .main-temp {
        font-size: 20vmin;
    }
    .main-icon > img {
        /*        padding-top: 4vmin;*/
        width: 30vmin;
    }
}

@media (min-width: 0px) and (max-width: 384px) and (min-height: 541px) and (max-height: 810px) {
    hr {
        margin: 5vmin 0;
    }
    #details {
        width: 56%;
        font-size: 6vmin;
        margin-top: 10vmin;
        margin-left: 0;
    }
    #location {
        width: 70%;
        font-size: 10vmin;
        margin: 10vmin 0;
    }
    #temp {
        width: 100%;
    }
    .main-temp {
        font-size: 20vmin;
    }
    .main-icon > img {
        /*        padding-top: 4vmin;*/
        width: 30vmin;
        text-align: ;
    }
    #day {
        font-size: 6vmin;
    }
    .day-temp {
        font-size: 5vmin;
    }
    .weather-icon {
        width: 70%;
    }
    #wrapper {
        min-height: 20vmin;
    }
}

@media (min-width: 0px) and (max-width: 384px) and (min-height: 811px) and (max-height: 1080px) {
    hr {
        margin: 10vmin 0;
    }
    #details {
        width: 70%;
        font-size: 7vmin;
        margin-top: 10vmin;
        margin-left: 0;
    }
    #location {
        width: 70%;
        font-size: 10vmin;
        margin: 10vmin 0;
    }
    #temp {
        width: 100%;
        padding: 5vmin;
    }
    .main-temp {
        font-size: 22vmin;
    }
    .main-icon {
        text-align: left;
    }
    .main-icon > img {
        /*        padding-top: 4vmin;*/
        width: 30vmin;
    }
    #day {
        font-size: 7vmin;
    }
    .day-temp {
        font-size: 6vmin;
    }
    .weather-icon {
        width: 80%;
        padding: 5vmin 0;
    }
    #wrapper {
        min-height: 30vmin;
    }
}

@media (min-width: 385px) and (max-width: 768px) and (min-height: 0px) and (max-height: 270px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 32%;
        font-size: 5vmin;
    }
    #location {
        font-size: 12vmin;
        width: 60%;
    }
    #temp {
        padding: 11vmin 1vmin;
    }
    .main-temp {
        font-size: 22vmin;
    }
    .main-icon > img {
        width: 32vmin;
    }
}

@media (min-width: 385px) and (max-width: 768px) and (min-height: 271px) and (max-height: 540px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 100%;
        font-size: 4vmin;
        margin-top: 5vmin;
    }
    #temp {
        width: 100%;
        padding: 4vmin 9vmin;
    }
    .main-temp {
        font-size: 13vmin;
    }
    .main-icon > img {
        width: 21vmin;
    }
}

@media (min-width: 385px) and (max-width: 768px) and (min-height: 541px) and (max-height: 810px) {
    #temp {
        width: 67%;
        padding: 4.5vmin 3vmin;
    }
    #details {
        width: 29%;
        margin-left: 3vmin;
    }
}

@media (min-width: 385px) and (max-width: 768px) and (min-height: 811px) and (max-height: 1080px) {
    #location {
        margin: 6vmin 0;
    }
    #temp {
        width: 67%;
        padding: 4.5vmin 3vmin;
    }
    #details {
        width: 29%;
        margin-left: 3vmin;
        font-size: 3.2vmin;
    }
    #day {
        font-size: 5vmin;
        margin: 5vmin 0;
    }
    .weather-icon {
        width: 65%;
    }
    .day-temp {
        font-size: 5vmin;
    }
    #wrapper {
        min-height: 23vmin;
    }
    .weather-icon {
        padding: 5vmin 0;
    }
    .main-icon > img {
        width: 20vmin;
    }
    .main-temp {
        font-size: 14vmin;
    }
}

@media (min-width: 769px) and (max-width: 1152px) and (min-height: 0px) and (max-height: 270px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 21%;
        font-size: 7vmin;
    }
    #location {
        font-size: 12vmin;
        width: 60%;
    }
    #temp {
        padding: 9vmin 1vmin;
        width: 75%;
    }
    .main-temp {
        font-size: 29vmin;
    }
    .main-icon > img {
        width: 45vmin;
    }
}

@media (min-width: 769px) and (max-width: 1152px) and (min-height: 271px) and (max-height: 540px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 31%;
        font-size: 5vmin;
        margin-top: 5vmin;
        margin-left: 8vmin;
    }
    #temp {
        width: 63%;
        padding: 10vmin 9vmin;
    }
    .main-temp {
        font-size: 19vmin;
    }
    .main-icon > img {
        width: 27vmin;
    }
}

@media (min-width: 769px) and (max-width: 1152px) and (min-height: 541px) and (max-height: 810px) {
    #location {
        margin: 3vmin 0;
        width: 53%;
    }
    #temp {
        width: 67%;
        padding: 4.5vmin 3vmin;
    }
    #details {
        width: 29%;
        margin-left: 3vmin;
    }
}

@media (min-width: 769px) and (max-width: 1152px) and (min-height: 811px) and (max-height: 1080px) {
    #location {
        margin: 3vmin 0;
            width: 65%;
    }
    #temp {
        width: 67%;
        padding: 4.5vmin 3vmin;
    }
    #details {
        width: 28%;
        margin-left: 3vmin;
        font-size: 2.5vmin;
    }
}

@media (min-width: 1153px) and (max-width: 1536px) and (min-height: 0px) and (max-height: 270px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 17%;
        font-size: 7vmin;
    }
    #location {
        font-size: 12vmin;
        width: 60%;
    }
    #temp {
        padding: 9vmin 1vmin;
        width: 80%;
    }
    .main-temp {
        font-size: 29vmin;
    }
    .main-icon > img {
        width: 45vmin;
    }
}

@media (min-width: 1153px) and (max-width: 1536px) and (min-height: 271px) and (max-height: 540px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 31%;
        font-size: 5vmin;
        margin-top: 5vmin;
        margin-left: 8vmin;
    }
    #temp {
        width: 63%;
        padding: 17vmin 9vmin;
    }
    .main-temp {
        font-size: 19vmin;
    }
    .main-icon > img {
        width: 27vmin;
    }
}

@media (min-width: 1153px) and (max-width: 1536px) and (min-height: 541px) and (max-height: 810px) {
     #location {
        margin: 3vmin 0;
        width: 53%;
    }
    #temp {
        width: 67%;
        padding: 3.5vmin 3vmin;
    }
    #details {
        width: 29%;
        margin-left: 3vmin;
            font-size: 2.7vmin;
    }
    .weather-icon{
            width: 39%;
    }
    #day{
        margin: 3vmin 0;
    }
}

@media (min-width: 1153px) and (max-width: 1536px) and (min-height: 811px) and (max-height: 1080px) {
    #details{
        font-size: 2.5vmin;
        margin-left: 9vmin;
    }
    #temp{
        padding: 2.5vmin 3vmin;
    }
}

@media (min-width: 1537px) and (max-width: 1920px) and (min-height: 0px) and (max-height: 270px) {
   #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 17%;
        font-size: 7vmin;
    }
    #location {
        font-size: 12vmin;
        width: 60%;
    }
    #temp {
        padding: 9vmin 1vmin;
        width: 80%;
    }
    .main-temp {
        font-size: 29vmin;
    }
    .main-icon > img {
        width: 45vmin;
    }
}

@media (min-width: 1537px) and (max-width: 1920px) and (min-height: 271px) and (max-height: 540px) {
    #week {
        display: none;
    }
    hr {
        display: none;
    }
    #details {
        width: 100%;
        font-size: 4vmin;
        margin-top: 5vmin;
    }
    #temp {
        width: 100%;
        padding: 4vmin 9vmin;
    }
    .main-temp {
        font-size: 13vmin;
    }
    .main-icon > img {
        width: 21vmin;
    }
}

@media (min-width: 1537px) and (max-width: 1920px) and (min-height: 541px) and (max-height: 810px) {
    #location {
        font-size: 3vw;
    }
    #row2 {
        margin-bottom: 2vw;
    }
    .main-icon {
        width: 7vw;
    }
    .main-temp {
        font-size: 4vw;
    }
    .weather-icon {
        width: 30%;
    }
    .day-temp {
        font-size: 1.5vw;
    }
    #details {
        margin-top: 0;
    }
}

@media (min-width: 1537px) and (max-width: 1920px) and (min-height: 811px) and (max-height: 1080px) {}